@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

header,
nav{
	display: block;
}
.header-container{
	width: 920px;
	margin: 0 auto;
	position: relative;
	height: 85px;
}
.header-wrap{
	background: #3e4344; 
    background: -moz-linear-gradient(top, #3e4344 0%, #3e4344 9%, #3e4344 11%, #070707 80%, #0a0a0a 100%);
    background: -webkit-linear-gradient(top, #3e4344 0%,#3e4344 9%,#3e4344 11%,#070707 80%,#0a0a0a 100%); 
    background: linear-gradient(to bottom, #3e4344 0%,#3e4344 9%,#3e4344 11%,#070707 80%,#0a0a0a 100%); 
	width: 100%;
	height: 85px;
}
.nav{
	width: 763px;
	background-color: #3a3e40;
	border-radius: 3px;
	position: absolute;
	padding: 0 1px;
	bottom: -8px;
}
.nav-list li{
	float: left;
	border-top: 1px solid #494d4e;
	border-left: 1px solid #494d4e;
	padding: 6px 0 6px 0;
	border-bottom: 3px solid #3a3e40;
	border-right: 1px solid #323738;
}
.nav-whos:hover{
	border-top: 1px solid #f26c4f;
	background-color: #35393a;
}
.nav-type:hover{
	border-bottom: 3px solid #acd373;
	background-color: #35393a;
}
.nav-list li:first-child{
	border-left: none;
	padding-left: 6px;
}
.nav-list li:last-child{
	border-right: none;
}
.nav-list li a{
	font: 14px "RobotoLight", arial;
	color: #d4d4d4;
	text-decoration: none;
	padding: 0 19px;
}
.lang-icons{
	position: absolute;
	bottom: 8px;
	right: 0;
	width: 109px;
}
.lang-icon{
	width: 14px;
	height: 11px;
	display: block;
	float: left;
	margin-left: 11px;
}
.icon-en{
	background: url(../img/lang.png) 0 0 no-repeat;
}
.icon-ru{
	background: url(../img/lang.png) 0 -18px no-repeat;
}
.icon-ge{
	background: url(../img/lang.png) 0 -36px no-repeat;
}
.icon-fr{
	background: url(../img/lang.png) 0 -54px no-repeat;
}
/*main block*/
.main{
	width: 100%;
	background-color: #fff;
	padding-top: 62px;
}
.main-container{
	width: 920px;
	margin: 0 auto;
	position: relative;
	height: 270px;
	margin-bottom: 40px;
}
.main-text-content{
	width: 340px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.main-title{
	font: 30px "RobotoMedium", arial;
	padding-left: 11px;
	display: block;
	line-height: 0;
}
.content-title{
	font: 24px "RobotoRegular", arial;
	margin-bottom: 20px;
	padding-left: 11px;
}
.content-text-wrap{
	width: 298px;
}
.content-text{
	font: 12px "RobotoRegular", arial;
	line-height: 1.5;
	padding-left: 11px;
	color: #000;
}
.content-note{
	border: 3px solid #eac560;
	padding: 12px 17px;
	color: #747474;
	margin-top: 18px;
}
.content-note a{
	color: #008ccc;
}
/*Tabs*/
.main-tabs,
.main-tabs-second{
	width: 569px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.main-tabs > div, 
.main-tabs > input,
.main-tabs-second > div, 
.main-tabs-second > input{ 
	display: none; 
	background-color: #f3f3f3;
} 
.main-tabs label,
.main-tabs-second label{ 
	padding: 12px 0px 11px 40px; 
	line-height: 28px; 
	cursor: pointer; 
	position: relative; 
	background: #fff; 
	border-radius: 5px 5px 0 0;
	text-decoration: underline;
	font: normal 15px Arial,sans-serif;
	color: #02255b;
} 
.main-tabs label[for="IE"],
.main-tabs-second label[for="IE2"]{
	background: #fff url(../img/browser-icons-inactive2.png) 0px 14px no-repeat;
	width: 191px;
	display: inline-block;
}
.main-tabs input[type="radio"]:checked + label[for="IE"],
label[for="IE"]:hover,
.main-tabs-second input[type="radio"]:checked + label[for="IE2"],
label[for="IE2"]:hover{
	text-decoration: none;
	background: #f3f3f3 url(../img/browser-icons-active.png) 16px 14px no-repeat;
}
.main-tabs label[for="Firefox"],
.main-tabs-second label[for="Firefox2"]{
	background: #fff url(../img/browser-icons-inactive2.png) 0px -21px no-repeat;
	width: 104px;
	display: inline-block;
}
.main-tabs input[type="radio"]:checked + label[for="Firefox"],
label[for="Firefox"]:hover,
.main-tabs-second input[type="radio"]:checked + label[for="Firefox2"],
label[for="Firefox2"]:hover{
	text-decoration: none;
	background: #f3f3f3 url(../img/browser-icons-active.png) 15px -21px no-repeat;
}
.main-tabs label[for="Chrome"],
.main-tabs-second label[for="Chrome2"]{
	background: #fff url(../img/browser-icons-inactive2.png) 0px -58px no-repeat;
	width: 113px;
	display: inline-block;
}
.main-tabs input[type="radio"]:checked + label[for="Chrome"],
label[for="Chrome"]:hover,
.main-tabs-second input[type="radio"]:checked + label[for="Chrome2"],
label[for="Chrome2"]:hover{
	text-decoration: none;
	background: #f3f3f3 url(../img/browser-icons-active.png) 15px -58px no-repeat;
}
.main-tabs label[for="Safari"],
.main-tabs-second label[for="Safari2"]{
	background: #fff url(../img/browser-icons-inactive2.png) 0px -93px no-repeat;
	width: 161px;
	display: inline-block;
}
label[for="Safari"]:hover,
label[for="Safari2"]:hover{
	background: #f3f3f3 url(../img/browser-icons-active.png) 15px -93px no-repeat;
	text-decoration: none;
}
.main-tabs input[type="radio"]:checked + label[for="Safari"],
.main-tabs-second input[type="radio"]:checked + label[for="Safari2"]{
	background: #f3f3f3 url(../img/browser-icons-active.png) 15px -93px no-repeat;
	text-decoration: none;
}
.main-tabs input[type="radio"]:checked + label,
.main-tabs-second input[type="radio"]:checked + label{ 
	background-color: #f3f3f3;
	border-right: 1px solid #efefef; 
	border-left: 1px solid #efefef;
	color: #000;
	text-decoration: none;
	font: bold 15px Arial,sans-serif;
} 
.main-tabs > input[name="odin"]:nth-of-type(1):checked ~ div:nth-of-type(1), 
.main-tabs > input[name="odin"]:nth-of-type(2):checked ~ div:nth-of-type(2), 
.main-tabs > input[name="odin"]:nth-of-type(3):checked ~ div:nth-of-type(3),
.main-tabs > input[name="odin"]:nth-of-type(4):checked ~ div:nth-of-type(4),
.main-tabs-second > input[name="dva"]:nth-of-type(1):checked ~ div:nth-of-type(1), 
.main-tabs-second > input[name="dva"]:nth-of-type(2):checked ~ div:nth-of-type(2), 
.main-tabs-second > input[name="dva"]:nth-of-type(3):checked ~ div:nth-of-type(3),
.main-tabs-second > input[name="dva"]:nth-of-type(4):checked ~ div:nth-of-type(4){ 
	display: block; 
	padding: 20px 0 12px 40px; 
	border-bottom: 1px solid #cfcfcf; 
	border-right: 1px solid #efefef; 
	border-left: 1px solid #efefef; 
}
.tabs-content-wrp,
.tabs-content-wrp-second{
	border-radius: 0 0 5px 5px;
	display: block;
	line-height: 1.4;
}
.main-tabs-content li,
.main-tabs-content-second li{
	list-style-type: decimal;
	margin-bottom: 8px;
	padding-left: 5px;
}
/*Browsers*/
.browsers,
.check{
	background-color: #f8f8f8;
	width: 100%;
	padding-top: 30px;
}
.browsers-wrapper,
.check-wrapper,
.footer-wrapper{
	width: 920px;
	margin: 0 auto;
}
.title{
	color: #000;
	font: 24px "RobotoRegular",sans-serif;
	margin-bottom: 20px;
}
.browsers-description{
	color: #000;
	font: 12px "RobotoRegular",sans-serif;
	line-height: 1.5;
}
.browsers-content{
	padding: 40px 0 20px 0;
	overflow: hidden;
}
.browsers-content figure{
	width: 230px;
	text-align: center;
	float: left;
}
.browser-link{
	font: 18px "RobotoMedium",sans-serif;
	color: #008ccc;
	margin-top: 20px;
	display: inline-block;
}
.browser-version{
	font: 16px "RobotoRegular",sans-serif;
	color: #69696a;
}
.browsers-note{
	font: 12px "RobotoRegular",sans-serif;
	text-align: center;
	color: #747474;
}
.check-wrapper{
	overflow: hidden;
}
.check-text-wrp{
	width: 210px;
	margin-right: 20px;
	float: left;
}
.check-text-title{
	font: 14px "RobotoMedium",sans-serif;
	color: #000;
}
.check-text{
	font: 12px "RobotoRegular",sans-serif;
	color: #000;
	line-height: 1.4;
	margin-top: 13px;
}
.check-text a{
	color: #001f56;
}
.text-title-fix{
	margin-top: 13px;
}
.support{
	display: block;
	font: 18px "RobotoRegular",sans-serif;
	float: left;
	color: #000;
	margin: 40px 0;
}
.support a{
	color: #008ccc;
}
/*footer*/
.footer{
	background-color: #161818;
	width: 100%;
	padding: 20px 0;
}
.copyright{
	color: #fff;
	font: 14px "RobotoRegular",sans-serif;
}
a:hover{
	text-decoration: none;
}