@import "fonts.css";
.feedback{
	background-color: #f3f3f3;
	padding: 8px 0px;
	overflow: hidden;
}
.feedback-mail{
	font: 1.143em 'ProximaNovaLight';
	color: #adadad;
	padding-left: 27px;
	background: url(../img/mail-icon.png) 0 center no-repeat;
}
.feedback-mail:hover{
	color: #45cd92;
}
.feedback-link{
	text-decoration: underline;
	color: #adadad;
	font: 1.071em 'ProximaNovaLight';
	float: right;
}
.feedback-link:hover{
	color: #45cd92;
}
.cart-block{
	overflow: hidden;
}
.nav-logo{
	padding-top: 31px;
}
.logo,
.logo:hover,
.logo:active,
.logo:visited,
.logo:focus{
	text-transform: uppercase;
	font: 2em 'ProximaNovaBlack';
	color: #232323;
	text-decoration: none;
}
.phone{
	font: 1.714em 'ProximaNovaLight';
	color: #000;
	float: right;
}
.cart-link,
.cart-link:hover,
.cart-link:active,
.cart-link:visited,
.cart-link:focus{
	font: 16px 'ProximaNovaLight';
	color: #acacac;
	margin-right: 59px;
	padding-left: 36px;
	background: url(../img/cart-icon.png) 0 center no-repeat;
	position: relative;
}
.cart-link:hover{
	color: #45cd92;
}
.amount{
	position: absolute;
	display: inline-block;
	width: 19px;
	height: 19px;
	background-color: #45cd92;
	border-radius: 8px;
	color: #fff;
	padding-left: 5px;
	padding-top: 2px;
	font: 13px 'ProximaNovaLight';
	margin-left: 3px;
}
.container-nav{
	padding-left: 0;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
#menu{
	float: right;
	margin-top: 13px;
}
.nav-text{
	font: 1.143em 'ProximaNovaLight';
	color: #adadad;
}
.nav>li>a {
    padding: 10px 13px;
}
.navbar-default .navbar-nav>li>a{
	text-transform: uppercase;
	font: 1.071em 'ProximaNovaBold';
	color: #232323;
}
.navbar-default .navbar-nav>li>a:hover{
	text-decoration: underline;
	color: #45cd92;
}
.navbar-toggle {
    margin-right: 0px;
}
.navbar-default .navbar-toggle:hover{
    background-color: #45cd92;
}
.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus{
	background-color: #fff;
}
.navbar-default .navbar-toggle:focus .icon-bar{
	background-color: #888;
}
/*Slider-banner*/
.main-slider-bg{
	background-color: #f7f7f7;
	overflow: hidden;
}
.main-slider{
	background: url(../img/slider-bg.png) center -50px no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 90px 0px 100px 0px;
}
.main-slider-text h1{
	font: 5.143em 'ProximaNovaBlack';
	color: #232323;
	text-transform: uppercase;
	margin: 0px;
}
.main-slider-text h2{
	font: 3.429em 'ProximaNovaBlack';
	text-transform: uppercase;
	color: #232323;
	line-height: 1.1;
	margin-top: 0;
}
.green-text-slider{
	color: #45cd92;
}
.main-slider-text h4{
	font: 1.286em 'ProximaNovaRegular';
	color: #232323;
	margin-top: 35px;
}
.shoe img{
	width: 500px;
	height: 236px;
	margin-left: -50px;
}
.shoe figcaption{
	float: right;
}
.model{
	font: 1.214em 'ProximaNovaLight';
	color: #8c8c8c;
	margin-top: 25px;
}
.model-name{
	font: 1.571em 'ProximaNovaBlack';
	text-transform: uppercase;
	color: #232323;
}
/*New Models Slider*/
.slider-models{
	padding-top: 50px;
	overflow: hidden;
}
.slider-more-models{
	text-transform: uppercase;
	border-bottom: 1px solid #c1c1c1;
	font: 1.143em 'ProximaNovaBold';
	color: #232323;
}
.slider-more-models:hover{
	color: #45cd92;
	text-decoration: none;
}
.control-wrapper{
	border: 1px solid #dedede;
	border-radius: 15px;
	width: 61px;
	height: 25px;
	position: relative;
	float: right;
}
.carousel-control.left,
.carousel-control.right{
    background-image: none;
    background-repeat: none;
}
.carousel-control.left{
	margin-left: 12px;
}
.carousel-control.right{
	margin-right: 12px;
}
.vertical-line{
	display: inline-block;
	height: 25px;
	border-right: 1px solid #dedede;
	margin-left: 30px;
}
.carousel-control,
.carousel-control:hover,
.carousel-control:focus{
	color: #b3b3b3;
	margin-top: 5px;
	text-shadow: none;
	font-size: 11px;
	opacity: 11;
}
.slider-content-img{
	width: 100%;
	height: 161px;
	position: relative;
}
.slider-content-title{
	font: 1.143em 'ProximaNovaBold';
	text-transform: uppercase;
	color: #232323;
	margin-bottom: 0;
	margin-top: 0px;
}
.item{
	margin-top: 40px;
}
.item>a:hover .slider-content-title{
	color: #45cd92;
}
.item>a{
	text-decoration: none;
	text-align: center;
}
.slider-content-description{
	font: 1.143em 'ProximaNovaLight';
	color: #8c8c8c;
	margin-top: 0;
}
.price{
	display: block;
	font: 1.571em 'ProximaNovaBold';
	color: #232323;
	margin-bottom: 50px;
}
/*Sale block*/
.sale{
	background: #f7f7f7 url(../img/sale-bg.png) center center no-repeat;
	-webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    padding: 10px 0px 15px 40px;
    overflow: hidden;
}
.sale-text h1,
.sale-text a{
	font: 1.143em 'ProximaNovaBold';
	color: #232323;
	text-transform: uppercase;
}
.sale-text p{
	font: 1.143em 'ProximaNovaLight';
	color: #8c8c8c;
	margin-top: 15px;
}
.sale-text a{
	color: #45cd92;
	display: block;
	margin-top: 25px;
}
.sale-percent p{
	font: 1em 'ProximaNovaLight';
	color: #8c8c8c;
	margin: 210px 20px 0px 0px;
	float: right;
}
.recomended-models{
	padding-top: 80px;
}
.recomended-models .item{
	margin-top: 70px;
}
/*Brands block*/
.brands{
	margin-top: 20px;
	padding-bottom: 75px;
	overflow: hidden;
}
.brands-img-wrapper img{
	max-width: 100%;
}
.wrpbr{
	padding: 0;
}
.reebok,
.adidas{
	margin-left: 14%;
}
.vans{
	margin-left: 5%;
}
.converse{
	margin-left: 17%;
}
.asics{
	float: right;
}
.clf{
	clear: both;
	display: none;
}
/*Footer block*/
.footer{
	overflow: hidden;
	padding-bottom: 30px;
}
.footer li{
	list-style-type: none;
}
.footer h4{
	font: 1.071em 'ProximaNovaBold';
	text-transform: uppercase;
	color: #232323;
	margin-bottom: 7px;
}
.footer li span,
.footer p{
	font: 1.118em 'ProximaNovaLight';
	color: #8c8c8c;
}
.footer li a{
	font: 1.143em 'ProximaNovaLight';
	color: #8c8c8c;
}
.footer li a:hover,
.logo-footer:hover{
	color: #45cd92;
	text-decoration: none;
}
.logo-footer{
	font: 2em 'ProximaNovaBlack';
	text-transform: uppercase;
	color: #232323;
	margin-top: 8px;
	display: block;
}
/*copyright block*/
.copyright{
	overflow: hidden;
	background-color: #000;
	text-align: center;
	padding-top: 8px;
	color: #8c8c8c;
	font: 1em 'ProximaNovaLight';
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px){
	.nav-text{
		font-size: 1em;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 0.90em;
	}
	.main-slider-text h2{
		font-size: 3.05em;
	}
	.reebok,
	.adidas{
		margin-left: 10%;
	}
	.vans{
		margin-left: 0%;
	}
	.converse{
		margin-left: 10%;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px){
	.nav>li>a {
	    padding: 10px 7px;
	}
	.nav-text{
		font-size: 0.7em;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 0.75em;
	}
	#menu {
	    margin-top: 5px;
	}
	.shoe img{
		width: 300px;
		height: 136px;
		margin-left: 0px;
	}
	.main-slider-text h1{
		font-size: 4.143em;
	}
	.main-slider-text h2{
		font-size: 2.3em;
	}
	.reebok,
	.adidas{
		margin-left: 0%;
	}
	.vans{
		margin-left: 0%;
		float: right;
	}
	.converse,
	.newbalance{
		margin-left: 0%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.asics{
		float: right;
	}
	.clf{
		clear: both;
		display: block;
	}
	.brands-img-wrapper img{
		margin-top: 15px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px){
	.logo,
	.logo:hover,
	.logo:active,
	.logo:visited,
	.logo:focus{
		font-size: 1.8em;
	}
	.phone{
		font-size: 1em;
	}
	.nav-text{
		font-size: 0.8em;
	}
	.nav-logo {
	    padding-top: 15px;
	}
	.cart-link{
		display: block;
		margin-bottom: 10px;
	}
	.cart-link, 
	.cart-link:hover, 
	.cart-link:active, 
	.cart-link:visited, 
	.cart-link:focus{
	    margin-right: 10px;
	}
	.amount{
		right: -25px;
		top: -5px;
	}
	#menu {
	    float: none;
	    position: absolute;
	    background-color: #fff;
	    right: 0px;
	    z-index: 12;
	    margin-top: 20px;
	}
	.main-slider {
	    padding: 40px 0px 50px 0px;
	}
	.shoe img{
		max-width: 100%;
		min-width: auto;
		height: auto;
		margin-left: 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.shoe figcaption{
		float: none;
	}
	.model{
		text-align: center;
		font-size: 1em;
	}
	.model-name{
		text-align: center;
		font-size: 1.5em;
	}
	.main-slider-text h1{
		text-align: center;
		font-size: 2.841em;
	}
	.main-slider-text h2{
		text-align: center;
		font-size: 1.31em;
	}
	.main-slider-text h4{
		text-align: center;
		font-size: 1.134em;
	}
	.slider-content-title,
	.slider-content-description{
		font-size: 1em;
	}
	.sale-text h1,
	.sale-text a{
		font-size: 0.9em;
	}
	.sale-text a{
		margin-top: 15px;
	}
	.sale-text p{
		font-size: 0.6em;
	}
	.sale-percent p{
		font-size: 0.6em;
		margin: 130px 0px 0px 0px;
	}
	.vans{
		float: right;
	}
	.converse,
	.newbalance,
	.reebok,
	.adidas,
	.vans,
	.asics,
	.puma,
	.nike{
		margin-left: 0%;
	}
	.brands{
		padding-bottom: 45px;
	}
	.brands-img-wrapper img{
		margin-top: 15px;
	}
	.footer ul{
		text-align: center;
	}
}
/* Portrait phones and smaller */
@media (max-width: 480px){
	.feedback-mail,
	.feedback-link{
		font-size: 0.9em;
	}
	.logo,
	.logo:hover,
	.logo:active,
	.logo:visited,
	.logo:focus{
		font-size: 0.997em;
	}
	.nav-text{
		font-size: 0.7em;
	}
	.nav>li>a {
	    padding: 5px 7px;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 0.75em;
	}
	.model-name{
		font-size: 0.9em;
	}
	.main-slider-text h1{
		font-size: 1.7em;
	}
	.main-slider-text h2{
		font-size: 1.5em;
	}
	.main-slider-text h4{
		font-size: 0.9em;
	}
	.slider-content-img{
		height: 80px;
	}
	.slider-content-img img{
		width: 100px;
	}
	.slider-content-title,
	.slider-content-description{
		font-size: 0.55785em;
	}
	.recomended-models {
	    padding-top: 30px;
	}
	.recomended-models .item {
	    margin-top: 30px;
	}
	.price{
		font-size: 0.9em;
		margin-bottom: 30px;
	}
	.brands {
	    padding-bottom: 25px;
	}
	.sale {
	    padding: 10px 0px 15px 10px;
	}
	.sale-text h1,
	.sale-text a{
		font-size: 0.6em;
	}
	.sale-text a{
		margin-top: 5px;
	}
	.sale-text p{
		font-size: 0.55em;
	}
	.sale-percent p{
		font-size: 0.5em;
		margin: 100px 0px 0px 0px;
	}
	.copyright{
		font-size: 0.8949em;
	}
}