@font-face {
	font-family: "AvantGardeCttRegular";
	src: url("../fonts/avantgardectt-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "AvantGardeCttBold";
	src: url("../fonts/avantgardectt-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


