@import "fonts.css";

section,
footer {
	overflow: hidden;
}

.navbar-toggler:focus,
.btn:focus {
	outline: none;
}
.btn {
	padding: 0px;
}
.navbar {
	background-color: #000;
	display: none;
}
.navbar-brand img {
	width: 3.125rem;
	height: 2.9375rem;
}
.navbar-nav li a {
	text-transform: uppercase;
	color: #fff;
	font: 0.9rem "AvantGardeCttBold",sans-serif;
}
.navbar-nav li a:hover {
	color: #9DCD4C;
}
.nav-btn{
	height: 1.375rem;
	width: 8rem;
	font: 0.73rem "AvantGardeCttBold",sans-serif;
	border-radius: 5px;
	border: none;
	background-color: #A3C74B;
	color: #fff;
}
.btn:hover{
	background-color: #82A353;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(56, 108, 29, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.tel {
	font: 0.9rem "AvantGardeCttBold",sans-serif;
	color: #fff;
}
.firstBg {
	background: url(../img/main-bg.png) center 0 no-repeat;
}
.phone {
	font: 1.25rem "AvantGardeCttBold",sans-serif;
	color: #000;
}
.logo {
	height: 4.1875rem;
	width: 21.875rem;
}
.main-btn {
	width: 9.125rem;
	height: 1.75rem;
	font: 0.85rem "AvantGardeCttBold",sans-serif;
	border-radius: 7px;
	border: none;
	color: #fff;
	background-color: #A3C74B;
}
.img-about {
	width: 8.8125rem;
	height: 5.1875rem;
}
.socials a {
	width: 43px;
	height: 41px;
}
.socials a:nth-child(1) {
	background: rgba(0,0,0,0) url(../img/socials.png) 0 0 no-repeat;
}
.socials a:nth-child(2) {
	background: rgba(0,0,0,0) url(../img/socials.png) -53px 0 no-repeat;
}
.socials a:nth-child(3) {
	background: rgba(0,0,0,0) url(../img/socials.png) -105px 0 no-repeat;
}
.socials a:nth-child(1):hover {
	background: rgba(0,0,0,0) url(../img/socials-hover.png) 0 0 no-repeat;
}
.socials a:nth-child(2):hover {
	background: rgba(0,0,0,0) url(../img/socials-hover.png) -53px 0 no-repeat;
}
.socials a:nth-child(3):hover {
	background: rgba(0,0,0,0) url(../img/socials-hover.png) -105px 0 no-repeat;
}
.services {
	margin: 0 auto;
}
.services-hover {
	display: none;
}
.services-nonehover{
	display: flex;
	width: 15.3125rem;
}
.arrow-wrapper {
	position: relative;
	height: 50px;
}
.arrow {
    display: block;
    margin-top: 5px;
    height: 26px;
    width: 19px;
    position: absolute;
    animation: jump 2s infinite;
}
.arrow:hover {
    cursor: pointer;
}
@keyframes jump {
    0% {
        top: 0;
    }
    10% {
        top: 5px;
    }
    20% {
        top: 10px;
    }
    30% {
        top: 15px;
    }
    40% {
        top: 20px;
    }
    50% {
        top: 25px;
    }
    60% {
        top: 20px;
    }
    70% {
        top: 15px;
    }
    80% {
        top: 10px;
    }
    90% {
        top: 5px;
    }
    100% {
        top: 0;
    }
}
.white-logo-block {
	background: url(../img/brand-block.png) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 10px 0;
}
.white-logo {
	background: url(../img/brand-block-logo.png) center center no-repeat;
	-webkit-background-size: contain;
    background-size: contain;
	height: 100px;
}
.services-wrapper {
	height: 16.875rem;
}
.main-header {
	background-color: #9DCD4C;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font: 4em "AvantGardeCttBold",sans-serif;
	margin-bottom: 0rem;
}
.main-content-wrapper {
	padding: 0px 20px 0px 50px;
}
.main-content-text{
	margin-top: 19px;
	line-height: 1.2;
    color: #5D5D5D;
    font: 1em "AvantGardeCttRegular",sans-serif;
}
.main-content-title {
	color: #fff;
	background-color: #999797;
	font: 600 1.1em "AvantGardeCttRegular",sans-serif;
	padding: 14px 49px;
	margin-top: 15px;
}
.block-icons {
	padding: 25px 30px 0 30px;
}
.bc {
	background: #fff url(../img/poly-icons.png) 0 0 no-repeat;
}
.brochures {
	background: #fff url(../img/poly-icons.png) 0 -104px no-repeat;
}
.calendars {
	background: #fff url(../img/poly-icons.png) 0 -208px no-repeat;
}
.booklets {
	background: #fff url(../img/poly-icons.png) 0 -313px no-repeat;
}
.envelopes {
	background: #fff url(../img/poly-icons.png) 0 -418px no-repeat;
}
.leaflets {
	background: #fff url(../img/poly-icons.png) 0 -523px no-repeat;
}
.posters {
	background: #fff url(../img/poly-icons.png) 0 -733px no-repeat;
}
.notebooks {
	background: #fff url(../img/poly-icons.png) 0 -838px no-repeat;
}
.stickers {
	background: #fff url(../img/poly-icons.png) 0 -943px no-repeat;
}
.invitations {
	background: #fff url(../img/poly-icons.png) 0 -1048px no-repeat;
}
.magazines {
	background: #fff url(../img/poly-icons.png) 0 -628px no-repeat;
}
.packages {
	background: #fff url(../img/poly-icons.png) 0 -1153px no-repeat;
}
.folders {
	background: #fff url(../img/poly-icons.png) -1px -1258px no-repeat;
}
.icon-wrp {
	color: #5D5D5D;
    font: 1em "AvantGardeCttBold",sans-serif;
    text-align: center;
}
.main-icon-wrp {
	height: 100px;
	width: 110px;
    text-transform: uppercase;
}
.main-icon {
	height: 5.1875rem;
	width: 5.1875rem;
	margin: 0 auto;
}
.icon-wrp p {
	margin-top: 7px;
}
.main-icon-wrp p {
	margin: 0; 	
}
.content-btn {
	color: #fff;
	background-color: #A3C74B;
	font: 1em "AvantGardeCttBold",sans-serif;
	padding: 6px 10px;
	text-transform: uppercase;
	border-radius: 8px;
	margin: 32px auto 0 auto;
}
.content-line {
	background-color: #A3C74B;
    height: 3px;
    width: 97%;
    margin: 40px auto 0 auto;
}
.polygraphy {
	background: url(../img/content-bg.png) 100% -4px no-repeat,
				url(../img/content-bg.png) -22px 75% no-repeat;
}
.large-print {
	background: url(../img/content-bg.png) 108% -84px no-repeat,
				url(../img/content-bg.png) -19px 28% no-repeat,
				url(../img/content-bg.png) 100% 60% no-repeat,
				url(../img/content-bg.png) 0% 91% no-repeat;				;
}
.large-print-icons {
	margin-top: 25px;
}
.large-print-icon-wrp {
    text-transform: uppercase;
}
.large-print-icon {
	width: 12.8125rem;
	height: 12.875rem;
	margin: 0 auto;
}
.banners-and-stretchers {
	background: #fff url(../img/print-icons.png) center 0 no-repeat;
}
.print-on-mesh {
	background: #fff url(../img/print-icons.png) center -236px no-repeat;
}
.film-printing {
	background: #fff url(../img/print-icons.png) center -472px no-repeat;
}
.interior-icon-wrp {
    text-transform: uppercase;
}
.interior-icon {
	width: 10.25rem;
	height: 10.25rem;
	margin: 0 auto;
}
.interior-fp {
	background: #fff url(../img/interior-print.png) center 0px no-repeat;
}
.interior-canvas {
	background: #fff url(../img/interior-print.png) center -211px no-repeat;
}
.interior-photopaper {
	background: #fff url(../img/interior-print.png) center -424px no-repeat;
}
.interior-plotter {
	background: #fff url(../img/interior-print.png) center -636px no-repeat;
}
.constructions-icon-wrp {
    padding-right: 40px;
    margin-top: 20px;
}
.constructions-icon {
	width: 9rem;
	height: 9.0625rem;
	margin: 0 auto;
}
.another-line {
    height: .4px;
    margin-top: 15px;
}
.rollup {
	background: #fff url(../img/construct-icons.png) center 0 no-repeat;
}
.press-wall {
	background: #fff url(../img/construct-icons.png) center -188px no-repeat;
}
.yxl {
	background: #fff url(../img/construct-icons.png) center -382px no-repeat;
}
.popup {
	background: #fff url(../img/construct-icons.png) center -567px no-repeat;
}
.advertising-standers {
	background: #fff url(../img/construct-icons.png) center -755px no-repeat;
}
.uv-print {
	background: url(../img/content-bg.png) 108% -40px no-repeat,
				url(../img/content-bg.png) -19px 46% no-repeat,
				url(../img/content-bg.png) 106% 97% no-repeat;				;
}
.uv-print-list {
	list-style-type: none;
	padding-left: 0;
}
.uv-icon-wrp {
    margin-top: 20px;
}
.uv-icon,
.souvenirs-icon,
.design-icon {
	width: 12.875rem;
	height: 12.875rem;
	margin: 0 auto;
}
.list-materials {
	background: #fff url(../img/uv-suv-design.png) center 0 no-repeat;
}
.rolled-materials {
	background: #fff url(../img/uv-suv-design.png) center -248px no-repeat;
}
.cutting {
	background: #fff url(../img/uv-suv-design.png) center -496px no-repeat;
}
.souvenirs {
	background: url(../img/content-bg.png) 108% -40px no-repeat;				;
}
.souvenirs-icon-wrp {
    margin-top: 25px;
    width: 15.875rem;
}
.souvenirs-silk {
	background: #fff url(../img/uv-suv-design.png) center -743px no-repeat;
}
.souvenirs-thermal {
	background: #fff url(../img/uv-suv-design.png) center -992px no-repeat;
}
.souvenirs-pad {
	background: #fff url(../img/uv-suv-design.png) center -1240px no-repeat;
}
.design-around-columns {
    height: 500px;
}
.design {
	background: url(../img/content-bg.png) 103% -40px no-repeat;				;
}
.design-icon-wrp {
	padding: 0;
}
.design-column {
	border-right: 1px solid #9DCD4C;
	border-left: 1px solid #9DCD4C;
	padding-left: 32px;
	padding-right: 32px;
}
.design-style {
	background: #fff url(../img/uv-suv-design.png) center -1489px no-repeat;
}
.design-polygraphy {
	background: #fff url(../img/uv-suv-design.png) center -1737px no-repeat;
}
.design-logo {
	background: #fff url(../img/uv-suv-design.png) center -1984px no-repeat;
}
.design-btn {
	margin-top: 0px;
}
.steps {
	height: 633px;
	background: #fff url(../img/comments-bg.png) center center no-repeat;
	-webkit-background-size: cover;
    background-size: cover;
    margin-top: 67px;
}
.steps-wrapper {
	position: relative;
	margin: 0 auto;
}
.step {
	/*width: 296px;
	height: 164px;*/
	width: 385px;
	height: 190px;
	position: absolute;
}
.hand-1 {
	background: #d4d4d4 url(../img/hand-1.jpg) 0 center / contain no-repeat;
	transform: rotate(-7deg);
	top: 44px;
	left: 10px;
}
.hand-2 {
	background: #d4d4d4 url(../img/hand-2.jpg) 0 center / contain no-repeat;
	top: 25px;
    left: 370px;
}
.hand-3 {
	background: #d4d4d4 url(../img/hand-3.jpg) 0 center / contain no-repeat;
	transform: rotate(12deg);
    top: 49px;
    left: 748px;
}
.hand-4 {
	background: #d4d4d4 url(../img/hand-4.jpg) 0 center / contain no-repeat;
	top: 215px;
    left: 106px;
}
.hand-5 {
	background: #d4d4d4 url(../img/hand-5.jpg) 0 center / contain no-repeat;
	transform: rotate(-9deg);
    top: 212px;
	left: 480px;
}
.hand-6 {
	background: #d4d4d4 url(../img/hand-6.jpg) 0 center / contain no-repeat;
	transform: rotate(5deg);
    top: 413px;
    left: 187px;
}
.hand-6 .hand-text,
.hand-7 .hand-text,
.hand-4 .hand-text {
	padding-top: 46px;
}
.hand-7 {
	background: #d4d4d4 url(../img/hand-7.jpg) 0 center / contain no-repeat;
	top: 370px;
	left: 585px;
}
.hand-text {
	font: 1em "AvantGardeCttRegular",sans-serif;
    color: #6B6B6B;
    padding-top: 65px;
    padding-left: 115px;
    line-height: 1.1;
}
.steps_green {
	color: #9DCD4C;
}
.consultation {
	text-align: center;
	padding-top: 80px;
}
.consultation-text{
	text-transform: uppercase;
	margin: 0 auto;
	font: 2.7em "AvantGardeCttBold",sans-serif;
	color: #5C5C5C;
}
.consultation-btn {
	height: 4.5rem;
	width: 27.5rem;
	font: 1.8em "AvantGardeCttBold",sans-serif;
	border-radius: 8px;
	border: none;
	text-transform: uppercase;
	background-color: #9DCD4C;
	color: #fff;
	margin: 30px auto;
}
.contacts {
	background: rgba(0,0,0,0) url(../img/22.png) no-repeat center 0;
	-webkit-background-size: cover;
	background-size: cover;
    padding-bottom: 71px;
}
.contacts-title {
	font: 1.5em "AvantGardeCttRegular",sans-serif;
    color: #5D5D5D;
    padding-left: 40px;
    margin-top: 15px;
    display: inline-block;
}
.contacts-info {
	color: #000;
	font: 1.3rem "AvantGardeCttBold",sans-serif;
	padding-left: 40px;
	margin-top: 2px;
}
.contacts-phone {
	background: url(../img/footer-icons.png) 0 3px no-repeat;
}
.contacts-time {
	background: url(../img/footer-icons.png) 0 -49px no-repeat;
}
.contacts-email {
	background: url(../img/footer-icons.png) 0 -101px no-repeat;
}
.contacts-address {
	background: url(../img/footer-icons.png) 0 -149px no-repeat;
}
.modal-content {
    border: 2px solid #99C552;
    border-radius: 1rem;
}
.modal-body {
	padding-bottom: 0;
}
.modal-body h1 {
	color: #5D5D5D;
	font: 1em "AvantGardeCttBold",sans-serif;
	text-align: center;
	text-transform: uppercase;
}
.form-control {
	font: .9em "AvantGardeCttRegular",sans-serif;
	color: #808080;
	border: 2px solid #99C552;
	line-height: 1.1;
	border-radius: .3rem;
}
.form-name,
.form-phone,
.form-email {
	width: 200px;
	height: 30px;
	margin-top: 10px;
}
.form-question  {
	height: 30px;
	margin-top: 10px;
}
.form-comment {
	border-radius: .8rem;
	resize: none;
	margin: 10px 0 20px 0;
}
.form-btn {
	color: #fff;
	width: 140px;
	height: 27px;
	display: block;
	margin: 0 auto;
	background-color: #A3C74B;
	border-radius: .4rem;
	text-transform: uppercase;
	font: 1em "AvantGardeCttBold",sans-serif;
}
.socials-nav {
	display: none;
}
/*Большие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {
}

/*Большие девайсы (большие десктопы, >= 992px)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.design-around-columns {
	    height: 590px;
	}
	
}

/*Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar-nav li a {
		font-size: 0.636rem;
	}
	.tel {
		font-size: 0.7rem;
	}
	.img-banner {
		width: 345px;
    	height: 109px;
	}
	.nav-btn{
		width: 6.4rem;
		font-size: 0.62rem;
	}
	.services-wrapper {
	    height: 11rem;
	}
	.design-around-columns {
	    height: 800px;
	}
	.uv-icon, .souvenirs-icon, .design-icon {
	    width: 9.875rem;
	    height: 9.875rem;
	}
}


/*Малые девайсы («ландшафтные», >= 575px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.logo {
	    height: 3.8rem;
    	width: 16.5rem;
	}
	.phone {
	    font-size: 1rem;
	}
	.navbar-nav li a {
		font-size: 0.9rem;
	}
	.tel {
		font-size: 0.9rem;
		margin-top: 1rem;
	}
	.nav-btn {
		width: 9rem;
		font-size: 0.8rem;
	}
	.uv-icon, .souvenirs-icon, .design-icon {
	    width: 9.875rem;
	    height: 9.875rem;
	}
	.services-wrapper {
	    height: 9rem;
	}
	.white-logo {
	    height: 85px;
	}
	/* .icon-wrp {
	    font-size: 0.8em;
	} */
	.design-around-columns {
	    height: auto;
	    margin-bottom: 40px;
	}
	.design-column {
	    border: none;
	    padding: 0px;
	}
	.main-content-wrapper {
	    padding: 0px;
	}

	.footer-logo {
		width: 315px;
		height: 80px;
	}	
	.socials-nav {
		display: flex !important;
		margin: 6vw auto;
	}
	.socials a {
	    width: 30px;
	    height: 30px;
	    margin-right: 10px;
	}
	.socials a:nth-child(1) {
	    background: rgba(0,0,0,0) url(../img/socials.png) -2px center / cover no-repeat;
	}
	.socials a:nth-child(2) {
	    background: rgba(0,0,0,0) url(../img/socials.png) -38px 0 / cover no-repeat;
	}
	.socials a:nth-child(3) {
	    background: rgba(0,0,0,0) url(../img/socials.png) -77px 0 /cover no-repeat;
	}
	.contacts {
	    background: url(../img/22.png) center 0 /500% 100% no-repeat;
	}
}

/*Экстрамалые девайсы («портретные телефоны», < 576px)*/
@media (max-width: 575.98px) {
	.logo {
	    height: 1.8rem;
	    width: 9.5rem;
	    padding-left: 0;
	}
	.phone {
	    font-size: .9rem;
	}
	.services-wrapper {
	    height: auto;
	}
	.main-btn {
	    width: 8.125rem;
	}
	.socials {
		display: none !important;
	}
	.arrow {
	    height: 21px;
	    width: 16px;
	}
	.souvenirs-icon-wrp {
	    width: auto;
	}
	.design-around-columns {
	    height: auto;
	    margin-bottom: 40px;
	}
	.design-column {
	    border: none;
	    padding: 0px;
	}
	.main-content-wrapper {
	    padding: 0px;
	}	
	.consultation-text {
	    font-size: 1.234em;
	}
	.consultation-btn {
	    height: 3.5rem;
	    width: 16.5rem;
	    font-size: 1.1em;
	}
	.main-header {
	    font-size: 1.6rem;
	}
	.contacts-title {
		font-size: 1.4em;
	}
	.contacts-info {
		font-size: 1rem;
	}
	.footer-logo {
		width: 242px;
		height: 60px;
	}
	.constructions-icon-wrp {
	    padding-right: 0px;
	}
	.interior-icons,
	.large-print-icons,
	.block-icons {
		display: none;
	}
	.form-name, 
	.form-phone, 
	.form-email {
	    width: 100%;
	}
	.socials-nav {
		display: flex !important;
		margin: 6vw auto;
	}
	.socials a:nth-child(1) {
	    background: rgba(0,0,0,0) url(../img/socials.png) -2px center / cover no-repeat;
	}
	.socials a:nth-child(2) {
	    background: rgba(0,0,0,0) url(../img/socials.png) -38px 0 / cover no-repeat;
	}
	.socials a:nth-child(3) {
	    background: rgba(0,0,0,0) url(../img/socials.png) -77px 0 /cover no-repeat;
	}
	.socials a {
	    width: 30px;
	    height: 30px;
	    margin-right: 10px;
	}
	.contacts {
	    background: url(../img/22.png) center 0 /500% 100% no-repeat;
	}
}





