@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Roboto', sans-serif;
}
body {
	margin-bottom: 60px;
}
html {
	position: relative;
	min-height: 100%;
}
.img-wrp {
	height: 200px;
}
.img1 {
	height: 100%;
	background: #fff url(../img/newspaper2.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.img2 {
	height: 100%;
	background: #fff url(../img/newspapers.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.footer {
	background-color: #c6c6c6;
	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 60px;
} 
